.main-content {
    display: flex;
    width: 1400px;
    margin: 50px auto;
}
.main-content .left-content {
    width: 335px;
    height: 857px;
    padding: 30px 20px;
    border-radius: 18px;
    background-color: #fff;
}
.main-content .right-content {
    width: 1045px;
    margin: 0 auto;
    border-radius: 18px;
    background-color: #fff;
}
/****** Left content component ********/
.left-content-title {
    display: flex;
}
.left-content-info {
    width: 205px;
    height: 44px;
    /* background-color: aquamarine; */
}
.left-content-info p {
    color: #050B2B;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}
.filter-delete {
    width: 90px;
    font-size: 14px;
    color: #DE303A;
    line-height: 14px;
    font-weight: 600;
    margin-top: 28px;
    cursor: pointer;
}
.search-content {
    position: relative;
    display: flex;
    margin-top: 30px;
}
.search-content input {
    width: 295px;
    height: 54px;
    padding: 20px;
    font-size: 14px;
    border-radius: 12px;
    justify-content: space-between;
    background-color: #F8F8F8;
    border: none;
}
.search-content-icon {
    width: 40px;
    position: absolute;
    right: 0;
    margin-top: 15px;
}
.checkbox-content {
    display: flex;
    /* width: 200px; */
    height: 21px;
    /* justify-content: space-between; */
    align-items: center;
    margin: 30px 0;
    background-color: aqua;
}
.checkbox-content h5 {
    margin: 0 90px 0 12px;
}