.footer {
    width: 100%;
    height: 473px;
    margin: 0 auto;
    background-color: #050B2B;
}
.footer .footer-content {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    padding-top: 80px;
}
.footer .footer-content .footer-logo {
    width: 340px;
}
.footer .footer-content .footer-logo img {
    width: 55px;
    margin-top: -8px;
    cursor: pointer;
}
.footer .footer-content .footer-logo span {
    color: #fff;
    font-size: 27px;
    margin-left: 5px;
    margin-top: 8px;
    font-weight: 600;
    cursor: pointer;
}
.footer .footer-content .footer-logo p {
    color: #F8F8F8;
    margin-top: 15px;
    cursor: pointer;
}
.footer-content-catalog {
    width: 350px;
}
.footer-content-catalog-title span, 
.footer-Execute-title span, 
.footer-project-title span{
    color: #fff;
    font-size: 16px;
}
.footer-content-catalog-list ul, 
.footer-Execute-list ul, 
.footer-project-list ul {
    margin-left: -30px;
    margin-top: 15px;
}
.footer-content-catalog-list ul li, 
.footer-Execute-list ul li, 
.footer-project-list ul li {
    list-style-type: none;
    color: #fff;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.footer-Execute {
    width: 260px;
    margin-left: 50px;
}
.footer-project {
    margin-left: 90px;
}
.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
    margin: 0 auto;
    height: 80px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.099);
}
.footer-bottom-info {
    width: 400px;
    text-align: center;
}
.footer-bottom-info span {
    color: #F8F8F8;
    font-size: 14px;
    cursor: pointer;
}
